{% extends 'news/base.html' %}
{% load static %}


{% block content%}

<div class="container-fluid container width:960px" style="background-color:rgb(251, 251, 251)">
  <p
      style="font-family: 'Times New Roman', Times, serif; color: rgb(15, 15, 15); font-weight: 600; font-size: 20px; text-align: center;">
      Updated Income Tax rates in Nepal for 2078/2079 (2021-22) including tax rates and rules for Individuals and
      Couples and businesses. The tax threshold slabs for the Fiscal year 2078/79 is updated as per the Budget
      speech.</p> <br>

  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-align: left; margin-left: 10px;">At
      the time of publishing, all information included in this paper was thought to be correct. While every effort
      has been made to ensure accuracy, mistakes, and omissions, no responsibility will be accepted for any
      inaccuracies, errors, or omissions. This publication should not be construed as providing a comprehensive
      explanation of any subject covered. </p><br>
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-align: left; margin-left: 10px;">
      *This is the Social Security Tax to be deposited in a separate revenue account (11211) provided for this
      purpose. However, tax payers registered as sole proprietorship or on pension income or on income from
      contribution based pension funds shall not attract social security tax i.e. 1%. And if the taxpayer is
      depositing an amount in the Social Security Fund (SSF) then for those taxpayers Social Security Tax is not
      applicable. <br> <br>** 36 % is computed as 30% plus additional 20% on such tax rate applicable to taxable
      income above Rs 2,000,000. <br><br> To calculate your tax liability add all the personal incomes and check
      for the slabs to find out rates. For example if you are unmarried and you earn Nrs 5,50,000 per year, your
      tax is calculated as: <br> br
      4,00,000*1%=Rs 4000 Plus <br><br>

      1,00,000*10%= Rs. 10000 Plus <br><br>

      50,000*20%= Rs 10000 <br><br>

      Total Tax= 4000+10000+10000= Nrs . 24000 <br></p> <br>
</div><br>






<!-- table -->
<div class="container-fluid container width:960px style=" background-color:rgb(251, 251, 251)">
  <table class="table table-sm table-md table">
      <tbody>
          <tr>
              <td><strong>Tax Banding</strong></td>
              <td></td>
              <td><strong>Income Tax Rates</strong></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td><strong>Unmarried person</strong></td>
              <td><strong>FY 2021-22 (FY 2078-79)</strong></td>
              <td><strong>FY 2020-21 (FY 2077-78)</strong></td>
          </tr>
          <tr>
              <td>(a) Band 1</td>
              <td>First 400,000</td>
              <td>1%*</td>
              <td>First 400,000</td>
              <td>1%*</td>
          </tr>
          <tr>
              <td>(b) Band 2</td>
              <td>Next 100,000</td>
              <td>10%</td>
              <td>Next 100,000</td>
              <td>10%</td>
          </tr>
          <tr>
              <td>(c) Band 3</td>
              <td>Next 200,000</td>
              <td>20%</td>
              <td>Next 200,000</td>
              <td>20%</td>
          </tr>
          <tr>
              <td>(d) Band 4</td>
              <td>Next 1,300,000</td>
              <td>30%</td>
              <td>Next 1,300,000</td>
              <td>30%</td>
          </tr>
          <tr>
              <td>(e) Additional Tax</td>
              <td>Remaining above 2,000,000</td>
              <td>36%**</td>
              <td>Remaining above 2,000,000</td>
              <td>36%**</td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td><strong>Married Person</strong></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td>(a) Band 1</td>
              <td>First 450,000</td>
              <td>1%*</td>
              <td>First 450,000</td>
              <td>1%*</td>
          </tr>
          <tr>
              <td>(b) Band 2</td>
              <td>Next 100,000</td>
              <td>10%</td>
              <td>Next 100,000</td>
              <td>10%</td>
          </tr>
          <tr>
              <td>(c) Band 3</td>
              <td>Next 200,000</td>
              <td>20%</td>
              <td>Next 200,000</td>
              <td>20%</td>
          </tr>
          <tr>
              <td>(d) Band 4</td>
              <td>Next 1,250,000</td>
              <td>30%</td>
              <td>Next 1,250,000</td>
              <td>30%</td>
          </tr>
          <tr>
              <td>(e) Additional Tax</td>
              <td>Remaining above 2,000,000</td>
              <td>36%**</td>
              <td>Remaining above 2,000,000</td>
              <td>36%**</td>
          </tr>
      </tbody>
  </table>

</div>

<div class="container-fluid container width:960px style=" background-color:rgb(251, 251, 251)">
  <table class="table table-sm table-md table">
      <tr>
          <td><strong>A. Deductions in Income</strong></td>
          <td><strong>Remarks</strong></td>
      </tr>
      <tr>
          <td>A natural person working in remote areas entitled to remote area allowance</td>
          <td>Additional deduction from taxable amount up to Rs 50,000. (a-50,000, b-40,000, c- 30,000, d-20,000,
              e-10,000).</td>
      </tr>
      <tr>
          <td>A natural person with pension income is included in the taxable income.</td>
          <td>An additional deduction equal to 25% of the amount prescribed under the first tax band or actual pension
              receipts, whichever is lower shall be allowed from taxable income. (Note: This provision was removed by
              Finance Act 2077 and have been reintroduced by Finance Ordinance 2078.</td>
      </tr>
      <tr>
          <td>Incapacitated natural person</td>
          <td>Additional deduction from the taxable amount equal to 50% of the amount prescribed under the first tax
              band or actual income whichever is lower.</td>
      </tr>
      <tr>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td><strong>B. Reduction on Income</strong></td>
          <td><strong>Remarks</strong></td>
      </tr>
      <tr>
          <td>Life insurance premium</td>
          <td>A natural person who has procured life insurance and paid premium amount thereon shall be entitled to a
              reduction of the actual annual insurance premium or rs 25,000 whichever is lower from taxable income.
          </td>
      </tr>
      <tr>
          <td>Medical insurance</td>
          <td>A natural person who has insured with a resident insurer/insurance company for health insurance shall be
              entitled to a reduction of the actual premium paid or rs 20,000 whichever is lower.</td>
      </tr>
      <tr>
          <td>Insurance of private building (new provision introduced by finance ordinance 2078)</td>
          <td>A resident natural person who has insured private building in his/her ownership with resident
              insurer/insurance company shall be entitled to a deduction of the actual annual premium paid for such
              insurance or rs 5,000 whichever is lower.</td>
      </tr>
      <tr>
          <td>Contribution to approved retirement fund</td>
          <td>In case of contribution to Social Security Fund (SSF)- 1/3rd of taxable income or Rs 500,000 or Actual
              contribution whichever is lower.In case of contribution to other approved retirement funds but not in
              SSF- 1/3rd of taxable income or Rs 300,000 or Actual contribution whichever is lower</td>
      </tr>
      <tr>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td><strong>C. Foreign Allowances</strong></td>
          <td><strong>Remarks</strong></td>
      </tr>
      <tr>
          <td>In the case of the employee employed at the foreign diplomatic mission of Nepal</td>
          <td>Only 25% of the foreign allowances are to be included in the income from employment.</td>
      </tr>
      <tr>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td><strong>D. Tax Exemption</strong></td>
          <td><strong>Remarks</strong></td>
      </tr>
      <tr>
          <td>The compensation received against a deceased natural person</td>
          <td>The compensation received against the deceased a natural person is not required to be included in
              income.</td>
      </tr>
      <tr>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td><strong>E. Rebated on tax liability</strong></td>
          <td><strong>Remarks</strong></td>
      </tr>
      <tr>
          <td>Foreign tax credit</td>
          <td>If any resident person has paid tax on income outside Nepal, such person can claim the foreign tax
              credit and while claiming such credit each country has to be considered separately. Amount of credit
              shall be lower ofi. The total foreign income included in assessable income in Nepal as multiplied by the
              average rate of tax on total income orii. The actual tax paid in a foreign country</td>
      </tr>
      <tr>
          <td>Medical Tax Credit</td>
          <td>A Resident Natural Person is entitled to Medical Tax Credit at least of the following amount. Rs 750
              orii. 15% of Medical Expenses along with any carried forward from the previous year oriii. Actual tax
              liability</td>
      </tr>
      <tr>
          <td>Female Tax Credit</td>
          <td>In the case of resident individual women having only remuneration income, a tax credit of 10% on the tax
              liability is calculated as other natural people. I. E., not applicable for women opted as couple status
              for tax purposes.</td>
      </tr>
</div>

</table>
<!-- Main -->
<div class="container">
  {% for hl, des, img in mylist %}

  <div class="card border-primary mb-3">
    <img src="{{ img }}" alt="image">
  </div>
  <div class="card border-primary mb-3">
    <!-- <h4><span class="badge badge-primary">Headline:</span></h4> -->
    <h5>{{ hl }}{{ value|linebreaks }}</h5>
    <!-- <h4> <span class="badge badge-success">Description:</span></h4> -->
    <h5>{{ des }}{{ value|linebreaks }}</h5>
  </div>
</div>
  {% endfor %}

{% endblock content%}
